.mainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .pTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-top: 40px;
  }
  
  .pTable td, .pTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .pTable tr:nth-child(even){background-color: #f2f2f2;}
  
  .pTable tr:hover {background-color: #ddd;}
  
  .pTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #983024;
    color: white;
  }